*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'Segoe UI', sans-serif;
    height:100vh;
    transition: background 0.8s ease;
}
.sunny{
    background: linear-gradient(135deg,#fceabb,#f8b500);
}
.cloudy{
    background: linear-gradient(135deg,#d7d2cc,#304352);
}
.rainy{
    background: linear-gradient(135deg,#4b79a1,#283e51);
}
.mist{
    background: linear-gradient(135deg,#bdc3c7,#2c3e50);
}
.clear{
    background: linear-gradient(135deg,#56ccf2,#2f80ed);
}
*{
    margin:0;
    padding:0;
}
.container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:60px;
    flex-direction:column;
}
.weather_container{
    color:#0b3d91;
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
    transition:0.3s;
}

.weather_container:hover{
    transform:translateY(-5px);
    box-shadow:0 20px 35px rgba(0,0,0,0.2);
}
.temp{
    font-size:5rem;
    font-weight:bold;
}
.time_location{
    font-size: 2rem;
}
.condition{
    display:flex;
    align-items:center;
    gap:10px;
    margin-top:15px;
}
nav{
    height: 100px;
}
.search_area{
    padding:10px;
    border:none;
    border-radius:8px;
    width:250px;
    font-size:1rem;
    border-bottom:2px solid black;
}
nav form{
    display:flex;
    flex-direction:column;
    gap:15px;
}
nav form button{
    padding:10px 20px;
    border:none;
    border-radius:8px;
    background:#0b3d91;
    color:white;
    font-size:1rem;
    cursor:pointer;
}
nav form button:hover{
    background:#072a66;
}
.weather_icon{
    width:70px;
    margin-top:10px;
}
#currentLocationBtn{
    padding:10px 20px;
    border:none;
    border-radius:8px;
    background:#28a745;
    color:white;
    font-size:1rem;
    cursor:pointer;
}
#currentLocationBtn:hover{
    background:#1e7e34;
}
